bibtexparser==1.4.0
Flask==3.1.1
Flask-Babel==4.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.5.1
geopy==2.4.1
habanero==2.3.0
langdetect==1.0.9
markdown>=3
pymdown-extensions>=10
python-dotenv==1.0.1
redis==5.0.0
requests==2.31.0
tzdata==2025.2
nltk==3.8.1
yake==0.4.8
