{% extends "base.html" %}
{% block title %}{{ _('Posts') }}{% endblock %}
{% block content %}
<h1>{% if tag %}{{ _('Posts tagged "%(tag)s"', tag=tag.name) }}{% else %}{{ _('All Posts') }}{% endif %}</h1>
<ul id="post-list">
  {% for post in posts %}
      <li><a href="{{ url_for('document', language=post.language, doc_path=post.path) }}">{{ post.title }}</a> - {{ post.path }} ({{ post.language }}) {{ _('by') }} <a href="{{ url_for('profile', username=post.author.username) }}">{{ post.author.username }}</a></li>
  {% else %}
    <li>{{ _('No posts yet.') }}</li>
  {% endfor %}
</ul>
{% endblock %}
