{% extends "base.html" %}
{% block title %}{{ _('Request Post') }}{% endblock %}
{% block content %}
<h1>{{ _('Request Post') }}</h1>
<form method="post">
  <div class="mb-3">
    <label for="title">{{ _('Title') }}</label>
    <input name="title" id="title" class="form-control" placeholder="{{ _('Title') }}">
  </div>
  <div class="mb-3">
    <label for="description">{{ _('Description') }}</label>
    <textarea name="description" id="description" class="form-control" rows="5" cols="50" placeholder="{{ _('Description') }}"></textarea>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
  </div>
</form>
{% endblock %}
